<div [formGroup]="form" class="course-details-form">

	<mat-form-field appearance="" floatLabel="auto">
		<input matInput placeholder="Course title" maxlength="60" formControlName="title" #titleElem />

		<mat-hint align="end">{{titleElem.value.length}}/60</mat-hint>

		<mat-error *ngIf="courseTitle.errors?.minlength">
			Minimum length of 5 is required
		</mat-error>

	</mat-form-field>

	<mat-radio-group class="course-type" formControlName="courseType">

		<mat-radio-button [disabled]="true" value="free">Free</mat-radio-button>
		<mat-radio-button value="premium">Premium</mat-radio-button>

	</mat-radio-group>

	<mat-form-field appearance="">
		<!-- add multiple attribute to enable multi select -->
		<mat-select formControlName="category" placeholder="Select category">

			<mat-option>None</mat-option>

			<mat-optgroup label="Beginner users">
				<mat-option value="newtoprogramming">New To Programming</mat-option>
				<mat-option value="newtojavascript">New To JavaScript</mat-option>
				<mat-option value="newtoangular">New To Angular</mat-option>
			</mat-optgroup>

			<mat-optgroup label="Intermediate users">
				<mat-option value="INTERMEDIATE">Intermediate</mat-option>
			</mat-optgroup>

			<mat-optgroup label="Advanced users">
				<mat-option value="ADVANCED">Advanced</mat-option>
			</mat-optgroup>

		</mat-select>

	</mat-form-field>

	<mat-form-field appearance="outline">
		<input matInput  formControlName="releasedAt" placeholder="Release date" [matDatepicker]="releasedAtPicker"/>
		<mat-datepicker-toggle matSuffix [for]="releasedAtPicker"></mat-datepicker-toggle>
		<mat-datepicker #releasedAtPicker></mat-datepicker>
	</mat-form-field>

</div>
